.inputRow{
    display: flex;
    margin-bottom:10px;
    align-items:center;
    justify-content:center;
}

.inputRow-billets{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;

}

.MenuItem:hover{
    background-color:rgb(216, 216, 216);
}

.header{
    padding-bottom: 20px;
    font-family: "Helvetica Neue",sans-serif;
}
