.sidebar{
  height: calc(100vh - 64px);
  width:80px;
  background-color: #1976d2;
  
  padding-top:64px;
  text-align: center;
  font-size:35px;
  position:relative;
}

.sidebarIcon{
  margin-top:20px;
  color:white;
  cursor:pointer;
}

.arrowIconContainer{
  position:absolute;
  bottom:0px;
}